	html {
		cursor: default;
		height: 100%;
	}
	
	body {
		background-color: #FFFFFF;
		font: 10pt "Arial";
		height: 293mm;
		margin: 0;
		padding: 0;
		width: 205mm;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		font: 10pt "Arial";
		width:60%;
		text-align:left;
	}

	#CurriculumVitae {
		color: #0084D1;
		font: 16pt "Arial";
		position: relative;
		text-align: right;
	}
	
	#Naglowki {
		border-spacing: 0px;
		color: #0084D1;
		float: left;
		font: 11pt "Arial";
		text-align: left;
	}
	
	hr {
		color: #C3C3C3;
		width: 210mm;
	}
	
	#Info {
		position: static;
		white-space: pre-line;
	}
	
	#footer {
		color: #C3C3C3;
		font: 8pt "Arial";
	}
	
	.image-upload > input	{
		display: none;
	}

	 #foto {
		float: right;
	}