	html {
		cursor: default;
		height: 100%;
	}
	
	*{ font-family: DejaVu Sans;}
	
	@page {
		margin: 12in;
	}
	
	body {
		background-color: #FFFFFF;
		font-size: 10pt;
		height: 293mm;
		margin: 9mm 14mm 9mm 14mm;
		padding: 9mm 14mm 9mm 14mm;
		width: 205mm;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 10pt;
		width:60%;
		text-align:left;
	}

	#CurriculumVitae {
		color: #0084D1;
		font-size: 16pt;
		position: relative;
		text-align: right;
	}
	
	#Naglowek {
		/*page-break-before: always;*/
		border-spacing: 0px;
		color: #0084D1;
		font-size: 11pt;
		text-align: left;
	}
	
	hr {
		width: 210mm;
		border: none;
		height: 1.25pt;
		color: #C3C3C3; /* old IE */
		background-color: #C3C3C3; /* Modern Browsers */
	}
	
	#Strona {
		page-break-inside: avoid;
	}
	
	#Info {
		text-align:left;
		white-space: pre-line;
	}
	
	#footer {
		color: #C3C3C3;
		font-size: 8pt;
	}

	 #foto {
		float: right;
	}