	#pomoc
	{
		display: none;
		visibility: hidden;
	}
	
	body {
		position: absolute;
		top: 0px;
		size: 7in 9.25in;
		margin: 27mm 16mm 27mm 16mm;
	}
	
	@page {
		size: 7in 9.25in;
		margin: 27mm 16mm 27mm 16mm;
	}